.container {
    max-width: 720px;
    margin: 0 auto;
    position: relative;
  }
  .container .sec1 {
    background-image: url(/grace/gracemo/img/bg/top_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  @media (max-width: 719px) {
    .container .sec1 {
      background-size: 102vw;
    }
  }
  .container .sec1 .header {
    background-color: #000000;
  }
  .container .sec1 .header .head_wrap {
    padding: 46px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 11111;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap {
      padding: 6.4vw 4.2vw;
    }
  }
  .container .sec1 .header .head_wrap .menu {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 40px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .menu {
      width: 7vw;
      height: 5.5vw;
      margin-left: 4vw;
    }
  }
  .container .sec1 .header .head_wrap .menu .menuLine {
    height: 4px;
    width: 100%;
    background-color: #b59a80;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .menu .menuLine {
      height: 0.5vw;
    }
  }
  .container .sec1 .header .head_wrap .menu .lineAbs {
    position: absolute;
    top: 50%;
  }
  .container .sec1 .header .head_wrap .menu .lineRo45 {
    transform: rotate(45deg);
  }
  .container .sec1 .header .head_wrap .menu .lineRo_45 {
    transform: rotate(-45deg);
  }
  .container .sec1 .header .head_wrap .menu .lineNone {
    display: none;
  }
  .container .sec1 .header .head_wrap .menu .mid_line {
    width: 40px;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .menu .mid_line {
      width: 5.5vw;
    }
  }
  .container .sec1 .header .head_wrap .d1ulWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    overflow-y: auto;
    display: block;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 9;
    transition: 0.5s;
    background-color: #232c3d;
  }
  .container .sec1 .header .head_wrap .d1ulWrap::-webkit-scrollbar {
    display: none;
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul {
    background-color: #232c3d;
    padding-top: 140px;
    height: 100vh;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .d1ulWrap #d1ul {
      padding-top: 19.5vw;
    }
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li {
    position: relative;
    list-style: none;
    height: 120px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li {
      height: 16.5vw;
    }
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .side_line {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 120px;
    background-color: #b59a80;
    display: none;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .side_line {
      width: 1vw;
      height: 16.5vw;
    }
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .d1a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 50px;
    transform: translateY(100%);
    animation-duration: 0.5s;
    animation-delay: 0.5s;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .d1a {
      padding: 5.8vw 7vw;
    }
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .d1a p {
    color: #b59a80;
    font-size: 2.25rem;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .d1a p {
      font-size: 5vw;
    }
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .open_btn {
    padding: 43px 50px;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .open_btn {
      padding: 6vw 7vw;
    }
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .open_btn img {
      width: 2.5vw;
    }
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .opBtnDeg {
    transform: rotate(180deg);
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d1li_wrap .d1a_bb {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d2ul .d2li {
    height: 120px;
    background-color: #0b1426;
    display: flex;
    align-items: center;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d2ul .d2li {
      height: 16.5vw;
    }
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d2ul .d2li a p {
    font-size: 2.25rem;
    padding: 0 50px;
    color: #bfb8b2;
    font-weight: 300;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d2ul .d2li a p {
      font-size: 5vw;
      padding: 0 7vw;
    }
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li .d2ul .d2li_bb {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .container .sec1 .header .head_wrap .d1ulWrap #d1ul .d1li_open {
    height: unset;
  }
  .container .sec1 .header .head_wrap .menuOpen {
    width: 540px !important;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .menuOpen {
      width: 75vw !important;
    }
  }
  .container .sec1 .header .head_wrap .logo {
    margin-left: 100px;
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .logo {
      margin-left: 13.8vw;
    }
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .logo a img {
      width: 63vw;
    }
  }
  @media (max-width: 719px) {
    .container .sec1 .header .head_wrap .call a img {
      width: 5.5vw;
    }
  }
  .container .sec1 .main {
    padding: 100px 0 140px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main {
      padding: 14vw 0 19.5vw;
    }
  }
  .container .sec1 .main .main_txt {
    position: relative;
  }
  .container .sec1 .main .main_txt .popup {
    position: absolute;
    top: 0;
    left: 0;
  }
  .container .sec1 .main .main_txt .popup .pop_txt {
    background-color: #b59a80;
    width: 80px;
    height: 507px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .pop_txt {
      width: 11vw;
      height: 70vw;
    }
  }
  .container .sec1 .main .main_txt .popup .pop_txt p {
    color: white;
    font-size: 1.375rem;
    transform: rotate(90deg);
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 15px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .pop_txt p {
      font-size: 3vw;
      letter-spacing: 2vw;
    }
  }
  .container .sec1 .main .main_txt .popup .pop_btn {
    width: 80px;
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .pop_btn {
      width: 11vw;
      height: 11vw;
    }
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .pop_btn img {
      width: 1.4vw;
    }
  }
  .container .sec1 .main .main_txt .popup .popup_img {
    display: none;
    overflow-y: scroll;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 720px;
    background-color: rgba(0, 0, 0, 0.4392156863);
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .popup_img {
      width: 100vw;
    }
  }
  .container .sec1 .main .main_txt .popup .popup_img #pop_swiper {
    margin: 198px 30px 0;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .popup_img #pop_swiper {
      margin: 27.5vw 4vw 0;
    }
  }
  .container .sec1 .main .main_txt .popup .popup_img #pop_swiper .swiper-wrapper .swiper-slide img {
    width: 660px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .popup_img #pop_swiper .swiper-wrapper .swiper-slide img {
      width: 91.5vw;
    }
  }
  .container .sec1 .main .main_txt .popup .popup_img #pop_swiper .swiper-pagination {
    position: relative;
    bottom: 0;
    margin-top: 50px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .popup_img #pop_swiper .swiper-pagination {
      margin-top: 7vw;
    }
  }
  .container .sec1 .main .main_txt .popup .popup_img #pop_swiper .swiper-pagination .swiper-pagination-bullet {
    width: 28px;
    height: 28px;
    background-color: unset;
    border: 2px solid white;
    margin: 0 20px;
    opacity: unset;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .popup_img #pop_swiper .swiper-pagination .swiper-pagination-bullet {
      width: 4vw;
      height: 4vw;
      margin: 0 3vw;
      border: 0.2vw solid white;
    }
  }
  .container .sec1 .main .main_txt .popup .popup_img #pop_swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: white;
  }
  .container .sec1 .main .main_txt .popup .popup_img .btn_wrap {
    margin-top: 97px;
    display: flex;
    align-items: center;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .popup_img .btn_wrap {
      margin-top: 13.5vw;
    }
  }
  .container .sec1 .main .main_txt .popup .popup_img .btn_wrap .btn_today_close {
    width: 510px;
    height: 100px;
    background-color: #222222;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .popup_img .btn_wrap .btn_today_close {
      width: 71vw;
      height: 14vw;
    }
  }
  .container .sec1 .main .main_txt .popup .popup_img .btn_wrap .btn_today_close span {
    color: #999999;
    font-size: 1.75rem;
    padding-left: 30px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .popup_img .btn_wrap .btn_today_close span {
      font-size: 4vw;
      padding-left: 2.7vw;
    }
  }
  .container .sec1 .main .main_txt .popup .popup_img .btn_wrap .btn_close {
    background-color: #111111;
    width: calc(100% - 510px);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .container .sec1 .main .main_txt .popup .popup_img .btn_wrap .btn_close p {
    background-image: url(/grace/gracemo/img/content/pop_close.png);
    background-repeat: no-repeat;
    background-position: center right;
    color: white;
    font-size: 1.75rem;
    position: relative;
    padding-right: 42px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .popup .popup_img .btn_wrap .btn_close p {
      font-size: 4vw;
      padding-right: 6vwvw;
    }
  }
  .container .sec1 .main .main_txt .popup .on {
    display: block;
  }
  .container .sec1 .main .main_txt .main_top {
    text-align: center;
    overflow: hidden;
  }
  .container .sec1 .main .main_txt .main_top img {
    transform: translateY(100%);
    animation-duration: 0.5s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .main_top img {
      width: 60vw;
    }
  }
  .container .sec1 .main .main_txt .main-mid {
    margin-left: 153px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .main-mid {
      margin-left: 21vw;
    }
  }
  .container .sec1 .main .main_txt .main-mid .mid_txt {
    text-align: left;
    margin-bottom: 16px;
    overflow: hidden;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .main-mid .mid_txt {
      margin-bottom: 2vw;
    }
  }
  .container .sec1 .main .main_txt .main-mid .mid_txt p {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -2px;
    transform: translateY(100%);
    animation-duration: 0.5s;
    animation-delay: 0.3s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .main-mid .mid_txt p {
      font-size: 4.5vw;
      letter-spacing: -0.2px;
    }
  }
  .container .sec1 .main .main_txt .main_bot {
    margin-left: 153px;
    margin-top: 50px;
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 0.5s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .main_bot {
      margin-left: 21vw;
      margin-top: 7vw;
    }
  }
  .container .sec1 .main .main_txt .main_bot .box_flex {
    display: flex;
    align-items: center;
  }
  .container .sec1 .main .main_txt .main_bot .box_flex .bot_box {
    width: 245px;
    height: 72px;
    border: 4px solid rgba(255, 255, 255, 0.4);
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .main_bot .box_flex .bot_box {
      border: 0.5vw solid rgba(255, 255, 255, 0.4);
      width: 34vw;
      height: 10vw;
      margin-right: 2.5vw;
    }
  }
  .container .sec1 .main .main_txt .main_bot .box_flex .bot_box p {
    color: #dfe0e1;
    font-size: 1.625rem;
    font-weight: 300;
    letter-spacing: -2px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .main_bot .box_flex .bot_box p {
      font-size: 3.5vw;
      letter-spacing: -0.2vw;
    }
  }
  .container .sec1 .main .main_txt .main_bot .box_flex .bot_box p span {
    color: #b59a80;
    font-weight: 600;
  }
  .container .sec1 .main .main_txt .main_bot .box_flex .bot_box p .box_txt_sm {
    font-size: 1.125rem;
    font-weight: 300;
    color: #dfe0e1;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt .main_bot .box_flex .bot_box p .box_txt_sm {
      font-size: 2vw;
    }
  }
  .container .sec1 .main .main_open_img img {
    opacity: 0;
    animation-duration: 1s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_open_img img {
      width: 100vw;
    }
  }
  .container .sec1 .main .main_txt2 {
    padding: 100px 30px 0;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_txt2 {
      padding: 14vw 4vw 0;
    }
  }
  .container .sec1 .main .main_txt2 .txt2_top {
    text-align: center;
    overflow: hidden;
  }
  .container .sec1 .main .main_txt2 .txt2_top img {
    transform: translateY(100%);
    animation-duration: 0.5s;
  }
  .container .sec1 .main .txt2_top2 {
    text-align: center;
    overflow: hidden;
  }
  .container .sec1 .main .txt2_top2 p {
    color: white;
    font-size: 2.215rem;
    line-height: 1.2;
    letter-spacing: -2px;
    transform: translateY(100%);
    animation-duration: 0.5s;
    animation-delay: 0.3s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .txt2_top2 p {
      font-size: 5vw;
      letter-spacing: -0.2vw;
    }
  }
  .container .sec1 .main .main_icon {
    padding: 0 30px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_icon {
      padding: 0 4vw;
    }
  }
  .container .sec1 .main .main_icon .icon_flex {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-top: 100px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_icon .icon_flex {
      padding-top: 14vw;
    }
  }
  .container .sec1 .main .main_icon .icon_flex .icon1,
  .container .sec1 .main .main_icon .icon_flex .icon2 {
    text-align: center;
    width: 50%;
    letter-spacing: -1px;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_icon .icon_flex .icon1,
  .container .sec1 .main .main_icon .icon_flex .icon2 {
      letter-spacing: -0.1vw;
    }
  }
  .container .sec1 .main .main_icon .icon_flex .icon1 .img1 img,
  .container .sec1 .main .main_icon .icon_flex .icon2 .img1 img {
    opacity: 0;
    animation-duration: 1s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_icon .icon_flex .icon1 .img1 img,
  .container .sec1 .main .main_icon .icon_flex .icon2 .img1 img {
      width: 11vw;
    }
  }
  .container .sec1 .main .main_icon .icon_flex .icon1 .img2 img,
  .container .sec1 .main .main_icon .icon_flex .icon2 .img2 img {
    opacity: 0;
    animation-duration: 1s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_icon .icon_flex .icon1 .img2 img,
  .container .sec1 .main .main_icon .icon_flex .icon2 .img2 img {
      width: 14.7vw;
    }
  }
  .container .sec1 .main .main_icon .icon_flex .icon1 .img3 img,
  .container .sec1 .main .main_icon .icon_flex .icon1 .img4 img,
  .container .sec1 .main .main_icon .icon_flex .icon2 .img3 img,
  .container .sec1 .main .main_icon .icon_flex .icon2 .img4 img {
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 1s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_icon .icon_flex .icon1 .img3 img,
  .container .sec1 .main .main_icon .icon_flex .icon1 .img4 img,
  .container .sec1 .main .main_icon .icon_flex .icon2 .img3 img,
  .container .sec1 .main .main_icon .icon_flex .icon2 .img4 img {
      width: 14.4vw;
    }
  }
  .container .sec1 .main .main_icon .icon_flex .icon1 .icon_sub,
  .container .sec1 .main .main_icon .icon_flex .icon2 .icon_sub {
    overflow: hidden;
  }
  .container .sec1 .main .main_icon .icon_flex .icon1 .icon_sub p,
  .container .sec1 .main .main_icon .icon_flex .icon2 .icon_sub p {
    font-size: 2.215rem;
    font-weight: 600;
    color: white;
    padding-top: 62px;
    transform: translateY(100%);
    animation-duration: 0.5s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_icon .icon_flex .icon1 .icon_sub p,
  .container .sec1 .main .main_icon .icon_flex .icon2 .icon_sub p {
      font-size: 5vw;
      padding-top: 8.5vw;
    }
  }
  .container .sec1 .main .main_icon .icon_flex .icon1 .icon_con,
  .container .sec1 .main .main_icon .icon_flex .icon2 .icon_con {
    overflow: hidden;
  }
  .container .sec1 .main .main_icon .icon_flex .icon1 .icon_con p,
  .container .sec1 .main .main_icon .icon_flex .icon2 .icon_con p {
    font-size: 1.75rem;
    color: #dfe0e1;
    padding-top: 30px;
    line-height: 1.4;
    font-weight: 300;
    transform: translateY(100%);
    animation-duration: 0.5s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_icon .icon_flex .icon1 .icon_con p,
  .container .sec1 .main .main_icon .icon_flex .icon2 .icon_con p {
      font-size: 4vw;
      padding-top: 4vw;
    }
  }
  .container .sec1 .main .main_icon .icon_flex .icon1 .icon_con p span,
  .container .sec1 .main .main_icon .icon_flex .icon2 .icon_con p span {
    font-size: 1.25rem;
    color: #dfe0e1;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_icon .icon_flex .icon1 .icon_con p span,
  .container .sec1 .main .main_icon .icon_flex .icon2 .icon_con p span {
      font-size: 3vw;
    }
  }
  .container .sec1 .main .main_icon .icon_flex .icon1 .icon_sub2 p,
  .container .sec1 .main .main_icon .icon_flex .icon1 .icon_con2 p,
  .container .sec1 .main .main_icon .icon_flex .icon2 .icon_sub2 p,
  .container .sec1 .main .main_icon .icon_flex .icon2 .icon_con2 p {
    animation-delay: 1s;
  }
  .container .sec1 .main .main_map {
    padding: 100px 30px 0;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_map {
      padding: 14vw 4vw 0;
    }
  }
  .container .sec1 .main .main_map .map_img img {
    opacity: 0;
    animation-duration: 1s;
    box-shadow: 0px 17px 24px #a7a7a7;
  }
  .container .sec1 .main .main_map .map_more {
    width: 500px;
    height: 80px;
    border: 1px solid #d5d5d5;
    margin: 60px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_map .map_more {
      width: 69.5vw;
      height: 11vw;
      margin: 8vw auto 0;
    }
  }
  .container .sec1 .main .main_map .map_more p {
    background-image: url(/grace/grace/gracemo/img/content/map_plus.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 33px;
    font-size: 1.625rem;
    color: #666666;
    font-weight: 400;
  }
  @media (max-width: 719px) {
    .container .sec1 .main .main_map .map_more p {
      font-size: 3.5vw;
      padding-right: 4.5vw;
    }
  }
  .container .sec2 {
    background-image: url(/grace/gracemo/img/subimg/topbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .container .sec2 .inner {
    padding: 0 30px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner {
      padding: 0 4.1vw;
    }
  }
  .container .sec2 .inner .sec1_top {
    text-align: center;
    padding-top: 100px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_top {
      padding-top: 13.8vw;
    }
  }
  .container .sec2 .inner .sec1_top .top_txt1 {
    font-size: 3.25rem;
    color: white;
    font-weight: 600;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_top .top_txt1 {
      font-size: 7.2vw;
    }
  }
  .container .sec2 .inner .sec1_top .top_txt2 {
    padding-top: 30px;
    font-size: 1.375rem;
    color: white;
    letter-spacing: 6px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_top .top_txt2 {
      padding-top: 4.1vw;
      font-size: 3vw;
      letter-spacing: 0.8vw;
    }
  }
  .container .sec2 .inner .sec1_tab {
    padding-top: 100px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab {
      padding-top: 13.8vw;
    }
  }
  .container .sec2 .inner .sec1_tab .tab_box {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #3b4558;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .tab_box {
      height: 11.1vw;
    }
  }
  .container .sec2 .inner .sec1_tab .tab_box .home_btn {
    width: 80px;
    height: 80px;
    background-color: #0b1426;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .tab_box .home_btn {
      width: 11.1vw;
      height: 11.1vw;
    }
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .tab_box .home_btn img {
      width: 3.6vw;
    }
  }
  .container .sec2 .inner .sec1_tab .tab_box #last,
  .container .sec2 .inner .sec1_tab .tab_box #good {
    border-width: 0;
    border-color: unset;
    background-color: unset;
    width: 290px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    font-family: "Noto Sans KR", sans-serif;
    overflow: hidden;
    cursor: pointer;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .tab_box #last,
  .container .sec2 .inner .sec1_tab .tab_box #good {
      width: 40.2vw;
    }
  }
  .container .sec2 .inner .sec1_tab .tab_box #last .selectWrap,
  .container .sec2 .inner .sec1_tab .tab_box #good .selectWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .tab_box #last .selectWrap,
  .container .sec2 .inner .sec1_tab .tab_box #good .selectWrap {
      padding-left: 4.4vw;
    }
  }
  .container .sec2 .inner .sec1_tab .tab_box #last .selectWrap .first,
  .container .sec2 .inner .sec1_tab .tab_box #good .selectWrap .first {
    font-size: 1.5rem;
    color: white;
    position: relative;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .tab_box #last .selectWrap .first,
  .container .sec2 .inner .sec1_tab .tab_box #good .selectWrap .first {
      font-size: 3.3vw;
    }
  }
  .container .sec2 .inner .sec1_tab .tab_box #last .selectWrap .ulBtnWrap,
  .container .sec2 .inner .sec1_tab .tab_box #good .selectWrap .ulBtnWrap {
    padding: 32px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .tab_box #last .selectWrap .ulBtnWrap,
  .container .sec2 .inner .sec1_tab .tab_box #good .selectWrap .ulBtnWrap {
      padding: 4.4vw;
    }
  }
  .container .sec2 .inner .sec1_tab .tab_box #last .selectWrap .ulBtnWrap img,
  .container .sec2 .inner .sec1_tab .tab_box #good .selectWrap .ulBtnWrap img {
    width: 17px;
    height: 12px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .tab_box #last .selectWrap .ulBtnWrap img,
  .container .sec2 .inner .sec1_tab .tab_box #good .selectWrap .ulBtnWrap img {
      width: 2.3vw;
      height: 1.6vw;
    }
  }
  .container .sec2 .inner .sec1_tab .tab_box #last .option,
  .container .sec2 .inner .sec1_tab .tab_box #good .option {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1111;
  }
  .container .sec2 .inner .sec1_tab .tab_box #last .option li,
  .container .sec2 .inner .sec1_tab .tab_box #good .option li {
    background-color: white;
    color: #666666;
    height: 60px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    display: flex;
    align-items: center;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .tab_box #last .option li,
  .container .sec2 .inner .sec1_tab .tab_box #good .option li {
      height: 8.3vw;
    }
  }
  .container .sec2 .inner .sec1_tab .tab_box #last .option li a,
  .container .sec2 .inner .sec1_tab .tab_box #good .option li a {
    font-size: 1.5rem;
    color: #666666;
    z-index: 11;
    padding-left: 32px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .tab_box #last .option li a,
  .container .sec2 .inner .sec1_tab .tab_box #good .option li a {
      font-size: 3.3vw;
      padding-left: 4.4vw;
    }
  }
  .container .sec2 .inner .sec1_tab .tab_box #last .option li:hover,
  .container .sec2 .inner .sec1_tab .tab_box #good .option li:hover {
    background-color: #f5f5f5;
  }
  .container .sec2 .inner .sec1_tab .tab_box #last .option li:hover a,
  .container .sec2 .inner .sec1_tab .tab_box #good .option li:hover a {
    color: #b59a80;
  }
  .container .sec2 .inner .sec1_tab .tab_box .overUnset {
    overflow: unset !important;
  }
  .container .sec2 .inner .sec1_tab .layer {
    text-align: center;
  }
  .container .sec2 .inner .sec1_tab .layer .sub_img {
    padding: 140px 0 60px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer .sub_img {
      padding: 19.4vw 0 8.3vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .infoBox {
    background-color: #f5f5f5;
    padding: 40px 30px;
    height: 209px;
    margin-bottom: 140px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer .infoBox {
      padding: 5.5vw 4.1vw;
      height: 29vw;
      margin-bottom: 19.4vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .infoBox .infoIn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .container .sec2 .inner .sec1_tab .layer .infoBox .infoIn .infoTxt {
    text-align: start;
    padding-left: 12px;
    position: relative;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer .infoBox .infoIn .infoTxt {
      padding-left: 1.6vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .infoBox .infoIn .infoTxt:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #999999;
  }
  .container .sec2 .inner .sec1_tab .layer .infoBox .infoIn .infoTxt p {
    color: #999999;
    font-size: 1.125rem;
    letter-spacing: -1px;
    line-height: 1.3;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer .infoBox .infoIn .infoTxt p {
      font-size: 2.5vw;
      letter-spacing: -0.1vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .infoBox .infoIn .infoT1:after,
  .container .sec2 .inner .sec1_tab .layer .infoBox .infoIn .infoT4:after {
    top: 25%;
  }
  .container .sec2 .inner .sec1_tab .layer .infoBox .infoIn .infoT2:after {
    top: 15%;
  }
  .container .sec2 .inner .sec1_tab .layer .infoBox .infoIn .infoT3:after {
    top: 50%;
  }
  .container .footer {
    padding: 60px 30px;
    border-top: 1px solid #999999;
  }
  @media (max-width: 719px) {
    .container .footer {
      padding: 8vw 4vw;
    }
  }
  .container .footer .foot_logo .asia,
  .container .footer .foot_logo .buone,
  .container .footer .foot_logo .develop {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .container .footer .foot_logo .asia p,
  .container .footer .foot_logo .buone p,
  .container .footer .foot_logo .develop p {
    padding-right: 10px;
    font-size: 1.5rem;
    color: #999999;
  }
  @media (max-width: 719px) {
    .container .footer .foot_logo .asia p,
  .container .footer .foot_logo .buone p,
  .container .footer .foot_logo .develop p {
      padding-right: 1.4vw;
      font-size: 3vw;
    }
  }
  .container .footer .foot_logo .asia {
    padding-bottom: 26px;
  }
  @media (max-width: 719px) {
    .container .footer .foot_logo .asia {
      padding-bottom: 3.5vw;
    }
  }
  @media (max-width: 719px) {
    .container .footer .foot_logo .asia img {
      width: 24.5vw;
    }
  }
  .container .footer .foot_logo .buone {
    padding-bottom: 13px;
  }
  @media (max-width: 719px) {
    .container .footer .foot_logo .buone {
      padding-bottom: 2vw;
    }
  }
  @media (max-width: 719px) {
    .container .footer .foot_logo .buone img {
      width: 31vw;
    }
  }
  @media (max-width: 719px) {
    .container .footer .foot_logo .develop img {
      width: 24.7vw;
    }
  }
  .container .footer .foot_info p {
    font-size: 1.375rem;
    color: #999999;
    font-weight: 400;
  }
  @media (max-width: 719px) {
    .container .footer .foot_info p {
      font-size: 3vw;
    }
  }
  .container .footer .foot_info .info_top {
    font-weight: 600;
  }
  .container .footer .foot_info .info_top span {
    padding-left: 23px;
    color: #999999;
    font-weight: 400;
  }
  @media (max-width: 719px) {
    .container .footer .foot_info .info_top span {
      padding-left: 3vw;
    }
  }
  .container .footer .foot_info .info_md {
    padding-top: 32px;
  }
  @media (max-width: 719px) {
    .container .footer .foot_info .info_md {
      padding-top: 4.5vw;
    }
  }
  .container .footer .foot_info .info_bt {
    padding-top: 37px;
  }
  @media (max-width: 719px) {
    .container .footer .foot_info .info_bt {
      padding-top: 5vw;
    }
  }
  .container .footer .foot_info .info_ps {
    letter-spacing: -2px;
    line-height: 1.6;
  }/*# sourceMappingURL=sub1.css.map */

  .container .sec2 .inner .sec1_tab .layer {
    /* padding-bottom: 140px; */
    border-bottom: 1px solid #e5e5e5;
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 0.5s;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer {
      padding-bottom: 19.4vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .sub_img {
    padding-bottom: 0;
    border-bottom: 0;
  }/*# sourceMappingURL=po.css.map */

.container .sec2 .inner .sec1_tab .layer {
    /* padding-bottom: 140px; */
    border-bottom: 1px solid #e5e5e5;
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 0.5s;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer {
      padding-bottom: 19.4vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .sub_img {
    border-bottom: 0;
    padding-bottom: 140px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer .sub_img {
      padding-bottom: 19.4vw;
    }
  }
  /*# sourceMappingURL=po2.css.map */

  .container .sec2 .inner .sec1_tab .layer .type_tab {
    padding-top: 80px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer .type_tab {
      padding-top: 11.1vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul {
    display: flex;
    border: 1px solid #d5d5d5;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li {
    width: 330px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li {
      width: 45.8vw;
      height: 11.1vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #b59a80;
    display: none;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li:after {
      height: 0.5vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li:hover:after {
    display: block;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li:hover p {
    color: #b59a80;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li p {
    font-size: 1.5rem;
    color: #666666;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li p {
      font-size: 3.3vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .a_li,
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .c_li {
    position: relative;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .a_li:before,
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .c_li:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #d5d5d5;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .typeOn {
    display: inherit;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .a_ul {
    border-bottom: 0;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .e_ul {
    border: 0;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .e_ul .e_li {
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    position: relative;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .e_ul .e_li:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #d5d5d5;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .e_ul .e_li2 {
    visibility: hidden;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_imgWrap {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  @media (max-width: 719px) {
    .container .sec2 .inner .sec1_tab .layer .type_tab .type_imgWrap {
      padding-top: 11.1vw;
      padding-bottom: 16.6vw;
    }
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_imgWrap .type_img {
    display: none;
  }
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_imgWrap .typeOn {
    display: inherit;
  }/*# sourceMappingURL=sub3.css.map */

  .container .form_wrap {
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 0.5s;
  }
  .container .form_wrap .sub4txt {
    text-align: center;
    padding-top: 140px;
  }
  @media (max-width: 719px) {
    .container .form_wrap .sub4txt {
      padding-top: 19.4vw;
    }
  }
  @media (max-width: 719px) {
    .container .form_wrap .sub4txt img {
      width: 43.8vw;
    }
  }
  .container .form_wrap form {
    margin-top: 80px;
    border-top: 1px solid #232c3d;
    padding: 0 30px;
  }
  @media (max-width: 719px) {
    .container .form_wrap form {
      margin-top: 11.1vw;
      padding: 0 4.1vw;
    }
  }
  .container .form_wrap form .form_li {
    height: 125px;
    padding: 30px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .form_li {
      height: 17.3vw;
      padding: 4.1vw;
    }
  }
  .container .form_wrap form .form_li p {
    font-size: 1.625rem;
    white-space: nowrap;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .form_li p {
      width: 6.2vw;
      font-size: 3.3vw;
    }
  }
  .container .form_wrap form .form_li input {
    width: 100%;
    height: 80px;
    background-color: #f0f0f0;
    border-style: none;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .form_li input {
      height: 11.1vw;
    }
  }
  .container .form_wrap form .form_li input:focus {
    outline: 1px solid #b59a80;
    background-color: white;
  }
  .container .form_wrap form .email_form {
    height: 225px;
    padding: 30px;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .email_form {
      height: 31.25vw;
      padding: 4.1vw;
    }
  }
  .container .form_wrap form .email_form .email_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .form_wrap form .email_form .email_wrap .email_input {
    width: 280px;
    padding: 0;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .email_form .email_wrap .email_input {
      width: 38.8vw;
    }
  }
  .container .form_wrap form .email_form .email_wrap span {
    font-size: 1.5rem;
    padding: 0 10px;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .email_form .email_wrap span {
      font-size: 3.3vw;
      padding: 0 1.3vw;
    }
  }
  .container .form_wrap form .email_form select {
    width: 100%;
    height: 80px;
    background-color: #f0f0f0;
    border-style: none;
    color: #999999;
    padding: 0 30px;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;
    background-image: url(/gracemo/sub4/img/selectBtn.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    font-size: 1.625rem;
  }
  .container .form_wrap form .email_form select::-ms-expand {
    display: none; /*for IE10,11*/
  }
  @media (max-width: 719px) {
    .container .form_wrap form .email_form select {
      height: 11.1vw;
      padding: 0 4.1vw;
      font-size: 3.6vw;
    }
  }
  .container .form_wrap form .email_form select:focus {
    outline: 0;
  }
  .container .form_wrap form .f_phone .phone_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .form_wrap form .f_phone .phone_wrap #phone {
    width: calc(33% - 10px);
    height: 80px;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;
    background-image: url(/grace/gracemo/sub4/img/selectBtn.png);
    background-repeat: no-repeat;
    background-position: 82% 50%;
    border: 0;
    background-color: #f0f0f0;
    font-size: 1.625rem;
    padding: 0 30px;
  }
  .container .form_wrap form .f_phone .phone_wrap #phone::-ms-expand {
    display: none; /*for IE10,11*/
  }
  .container .form_wrap form .f_phone .phone_wrap #phone:focus {
    outline: none;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .f_phone .phone_wrap #phone {
      width: calc(33% - 1.3vw);
      height: 11.1vw;
      font-size: 3.6vw;
      padding: 0 4.1vw;
      background-size: 2.7vw;
    }
  }
  .container .form_wrap form .f_phone .phone_wrap .phone_ip {
    width: calc(33% - 10px);
    height: 80px;
    padding: 0;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .f_phone .phone_wrap .phone_ip {
      width: calc(33% - 1.3vw);
      height: 11.1vw;
    }
  }
  .container .form_wrap form .ad_form {
    height: 386px;
    padding: 30px;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .ad_form {
      height: 53.6vw;
      padding: 4.1vw;
    }
  }
  .container .form_wrap form .ad_form .ad_form1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  .container .form_wrap form .ad_form .ad_form1 .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .container .form_wrap form .ad_form .ad_form1 .search .sear_ip {
    padding: 0 30px;
    font-size: 1.625rem;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .ad_form .ad_form1 .search .sear_ip {
      font-size: 3.6vw;
      padding: 0 4.1vw;
    }
  }
  .container .form_wrap form .ad_form .ad_form1 .search .adnum {
    padding: 0;
    padding-left: 30px;
    width: 370px;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .ad_form .ad_form1 .search .adnum {
      padding-left: 4.1vw;
      width: 51.3vw;
    }
  }
  .container .form_wrap form .ad_form .ad_form1 .search button {
    border-style: unset;
    width: 180px;
    height: 80px;
    background-color: #aaaaaa;
    color: white;
    font-weight: 600;
    font-size: 1.625rem;
    cursor: pointer;
    padding: 0;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .ad_form .ad_form1 .search button {
      width: 25vw;
      height: 11.1vw;
      font-size: 3.6vw;
      margin-left: 2.7vw;
    }
  }
  .container .form_wrap form .ad_form .sear_ip {
    font-size: 1.625rem;
    padding: 0;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .ad_form .sear_ip {
      font-size: 3.6vw;
    }
  }
  .container .form_wrap form .ad_form .detail_ad {
    padding-left: 30px;
    width: 570px;
  }
  @media (max-width: 719px) {
    .container .form_wrap form .ad_form .detail_ad {
      padding-left: 4.1vw;
      width: 79.1vw;
    }
  }
  .container .form_wrap .agree_txt {
    padding: 60px 30px 0;
  }
  @media (max-width: 719px) {
    .container .form_wrap .agree_txt {
      padding: 4.1vw 3.1vw 0;
    }
  }
  .container .form_wrap .agree_check {
    padding: 60px 30px 0;
  }
  @media (max-width: 719px) {
    .container .form_wrap .agree_check {
      padding: 8.3vw 4.1vw 0;
    }
  }
  .container .form_wrap .agree_check .personal,
  .container .form_wrap .agree_check .marketing {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 177px;
    background-color: #f5f5f5;
    padding: 50px 0;
  }
  @media (max-width: 719px) {
    .container .form_wrap .agree_check .personal,
  .container .form_wrap .agree_check .marketing {
      height: 24.5vw;
      padding: 6.9vw 0;
    }
  }
  .container .form_wrap .agree_check .personal .person_txt,
  .container .form_wrap .agree_check .marketing .person_txt {
    line-height: 1.5;
  }
  .container .form_wrap .agree_check .personal p,
  .container .form_wrap .agree_check .marketing p {
    font-size: 1.875rem;
    color: #333333;
    padding-left: 30px;
  }
  @media (max-width: 719px) {
    .container .form_wrap .agree_check .personal p,
  .container .form_wrap .agree_check .marketing p {
      font-size: 4.1vw;
      padding-left: 4.1vw;
    }
  }
  .container .form_wrap .agree_check .personal p span,
  .container .form_wrap .agree_check .marketing p span {
    font-size: 1.625rem;
  }
  @media (max-width: 719px) {
    .container .form_wrap .agree_check .personal p span,
  .container .form_wrap .agree_check .marketing p span {
      font-size: 3.3vw;
    }
  }
  .container .form_wrap .agree_check .personal .radio_wrap,
  .container .form_wrap .agree_check .marketing .radio_wrap {
    padding: 0 30px;
    display: flex;
    align-items: center;
  }
  @media (max-width: 719px) {
    .container .form_wrap .agree_check .personal .radio_wrap,
  .container .form_wrap .agree_check .marketing .radio_wrap {
      padding: 0 4.5vw;
    }
  }
  .container .form_wrap .agree_check .personal .radio_wrap input,
  .container .form_wrap .agree_check .marketing .radio_wrap input {
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
  }
  @media (max-width: 719px) {
    .container .form_wrap .agree_check .personal .radio_wrap input,
  .container .form_wrap .agree_check .marketing .radio_wrap input {
      width: 3.8vw;
      height: 3.8vw;
      margin-right: 1.3vw;
    }
  }
  .container .form_wrap .agree_check .personal .radio_wrap span,
  .container .form_wrap .agree_check .marketing .radio_wrap span {
    font-size: 1.875rem;
  }
  @media (max-width: 719px) {
    .container .form_wrap .agree_check .personal .radio_wrap span,
  .container .form_wrap .agree_check .marketing .radio_wrap span {
      font-size: 4.1vw;
    }
  }
  .container .form_wrap .agree_check .personal .radio_wrap .agree,
  .container .form_wrap .agree_check .marketing .radio_wrap .agree {
    padding-right: 80px;
  }
  @media (max-width: 719px) {
    .container .form_wrap .agree_check .personal .radio_wrap .agree,
  .container .form_wrap .agree_check .marketing .radio_wrap .agree {
      padding-right: 11.1vw;
    }
  }
  .container .form_wrap .agree_check .personal {
    margin-bottom: 10px;
  }
  @media (max-width: 719px) {
    .container .form_wrap .agree_check .personal {
      margin-bottom: 0.5vw;
    }
  }
  .container .form_wrap .formWrap {
    padding: 0 30px;
  }
  @media (max-width: 719px) {
    .container .form_wrap .formWrap {
      padding: 0 4.1vw;
    }
  }
  .container .form_wrap .formWrap .agree_btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 140px;
    border-top: 0;
    width: 100%;
  }
  @media (max-width: 719px) {
    .container .form_wrap .formWrap .agree_btn {
      padding-bottom: 7.2vw;
    }
  }
  .container .form_wrap .formWrap .agree_btn .cancle,
  .container .form_wrap .formWrap .agree_btn .signup {
    width: calc(50% - 10px);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
    padding: 0;
    border: 0;
  }
  @media (max-width: 719px) {
    .container .form_wrap .formWrap .agree_btn .cancle,
  .container .form_wrap .formWrap .agree_btn .signup {
      width: calc(50% - 1.3vw);
      height: 11.1vw;
      font-size: 3.8vw;
    }
  }
  .container .form_wrap .formWrap .agree_btn .cancle {
    background-color: #b59a80;
  }
  .container .form_wrap .formWrap .agree_btn .signup {
    background-color: #232c3d;
  }
  
  #agreeTxt .agCon .agCon1 .st600,
  #agreeTxt .agCon .agCon2 .st600 {
    font-size: 1.875rem;
    font-weight: 600;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .st600,
  #agreeTxt .agCon .agCon2 .st600 {
      font-size: 4.1vw;
    }
  }
  #agreeTxt .agCon .agCon1 .th400,
  #agreeTxt .agCon .agCon2 .th400 {
    padding-top: 20px;
    font-size: 1.625rem;
    line-height: 1.3;
    letter-spacing: -1.5px;
    color: #666666;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .th400,
  #agreeTxt .agCon .agCon2 .th400 {
      padding-top: 2.7vw;
      font-size: 3.6vw;
    }
  }
  #agreeTxt .agCon .agCon1 .agConBox,
  #agreeTxt .agCon .agCon2 .agConBox {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #666666;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .agConBox,
  #agreeTxt .agCon .agCon2 .agConBox {
      margin-top: 5.5vw;
    }
  }
  #agreeTxt .agCon .agCon1 .agConBox .agLeft .agh,
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft .agh,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    color: #666666;
    font-size: 1.375rem;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .agConBox .agLeft .agh,
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft .agh,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh {
      font-size: 3vw;
    }
  }
  #agreeTxt .agCon .agCon1 .agConBox .agLeft .agh93,
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh93,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft .agh93,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh93 {
    height: 93px;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .agConBox .agLeft .agh93,
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh93,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft .agh93,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh93 {
      height: 12.9vw;
    }
  }
  #agreeTxt .agCon .agCon1 .agConBox .agLeft .agh127,
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh127,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft .agh127,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh127 {
    height: 127px;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .agConBox .agLeft .agh127,
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh127,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft .agh127,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh127 {
      height: 17.6vw;
    }
  }
  #agreeTxt .agCon .agCon1 .agConBox .agLeft .agh191,
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh191,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft .agh191,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh191 {
    height: 191px;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .agConBox .agLeft .agh191,
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh191,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft .agh191,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh191 {
      height: 26.5vw;
    }
  }
  #agreeTxt .agCon .agCon1 .agConBox .agLeft .agh157,
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh157,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft .agh157,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh157 {
    height: 157px;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .agConBox .agLeft .agh157,
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh157,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft .agh157,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh157 {
      height: 21.8vw;
    }
  }
  #agreeTxt .agCon .agCon1 .agConBox .agLeft,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft {
    width: 160px;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .agConBox .agLeft,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft {
      width: 22.2vw;
    }
  }
  #agreeTxt .agCon .agCon1 .agConBox .agLeft p,
  #agreeTxt .agCon .agCon2 .agConBox .agLeft p {
    border-right: 1px solid #d5d5d5;
    font-weight: 600;
  }
  #agreeTxt .agCon .agCon1 .agConBox .agRight,
  #agreeTxt .agCon .agCon2 .agConBox .agRight {
    width: calc(100% - 160px);
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .agConBox .agRight,
  #agreeTxt .agCon .agCon2 .agConBox .agRight {
      width: calc(100% - 22.2vw);
    }
  }
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh {
    text-align: start;
    justify-content: start;
    line-height: 1.3;
    padding-left: 28px;
    letter-spacing: -1.5px;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon1 .agConBox .agRight .agh,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh {
      padding-left: 3.8px;
      letter-spacing: -0.1vw;
    }
  }
  #agreeTxt .agCon .agCon1 .agConBox .agRight .agh191,
  #agreeTxt .agCon .agCon2 .agConBox .agRight .agh191 {
    line-height: 1.5;
  }
  #agreeTxt .agCon .agCon2 {
    padding-top: 60px;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon2 {
      padding-top: 8.3vw;
    }
  }
  #agreeTxt .agCon .agCon2 .agConBox {
    height: 311px;
    border-bottom: 1px solid #d5d5d5;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon2 .agConBox {
      height: 43.1vw;
    }
  }
  #agreeTxt .agCon .agCon2 .agConBox .w120 {
    width: 120px;
    display: flex;
    align-items: end;
    justify-content: center;
    border-right: 1px solid #d5d5d5;
    font-weight: 600;
    padding-bottom: 33px;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon2 .agConBox .w120 {
      width: 16.6vw;
      padding-bottom: 4.5vw;
    }
  }
  #agreeTxt .agCon .agCon2 .agConBox .w134 {
    width: 134px;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon2 .agConBox .w134 {
      width: 18.6vw;
    }
  }
  #agreeTxt .agCon .agCon2 .agConBox .agInBox {
    text-align: center;
  }
  #agreeTxt .agCon .agCon2 .agConBox .agInBox p {
    color: #666666;
    font-size: 1.375rem;
    line-height: 1.3;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon2 .agConBox .agInBox p {
      font-size: 3vw;
    }
  }
  #agreeTxt .agCon .agCon2 .agConBox .agInBox .agTop {
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon2 .agConBox .agInBox .agTop {
      height: 7.9vw;
    }
  }
  #agreeTxt .agCon .agCon2 .agConBox .agInBox .agBot {
    height: calc(100% - 77px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-right: 1px solid #d5d5d5;
    padding-top: 20px;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon2 .agConBox .agInBox .agBot {
      height: calc(100% - 10.6vw);
      padding-top: 2.7vw;
    }
  }
  #agreeTxt .agCon .agCon2 .agConBox .brnone .agTop,
  #agreeTxt .agCon .agCon2 .agConBox .brnone .agBot {
    border-right: 0;
  }
  #agreeTxt .agCon .agCon2 .aglastInfo {
    border-bottom: 1px solid #d5d5d5;
    padding: 20px 0;
    height: 158px;
    text-align: center;
    display: flex;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon2 .aglastInfo {
      padding: 2.7vw 0;
      height: 21.9vw;
    }
  }
  #agreeTxt .agCon .agCon2 .aglastInfo p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    font-size: 1.375rem;
    line-height: 1.5;
  }
  @media (max-width: 719px) {
    #agreeTxt .agCon .agCon2 .aglastInfo p {
      font-size: 3vw;
    }
  }/*# sourceMappingURL=sub4.css.map */

  .container #contents {
    padding: 0 30px;
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 0.5s;
  }
  @media (max-width: 719px) {
    .container #contents {
      padding: 0 4.1vw;
    }
  }
  .container #contents #contents_wrap h2 {
    padding-top: 140px;
    padding-bottom: 80px;
    text-align: center;
  }
  @media (max-width: 719px) {
    .container #contents #contents_wrap h2 {
      padding-top: 19.4vw;
      padding-bottom: 11.1vw;
    }
  }
  @media (max-width: 719px) {
    .container #contents #contents_wrap h2 img {
      width: 28.8vw;
    }
  }
  .container #contents #contents_wrap #news {
    border-top: 1px solid #6e7d8f;
  }
  .container #contents #contents_wrap #news tbody tr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    padding: 50px 30px;
    border-bottom: 1px solid #d5d5d5;
  }
  @media (max-width: 719px) {
    .container #contents #contents_wrap #news tbody tr {
      height: 25vw;
      padding: 6.9vw 4.1vw;
    }
  }
  .container #contents #contents_wrap #news tbody tr th {
    text-align: left;
  }
  .container #contents #contents_wrap #news tbody tr th p {
    font-size: 1.75rem;
    color: #b59a80;
  }
  @media (max-width: 719px) {
    .container #contents #contents_wrap #news tbody tr th p {
      font-size: 3.8vw;
    }
  }
  .container #contents #contents_wrap #news tbody tr th a {
    padding-top: 30px;
    display: block;
    font-size: 2rem;
    width: 578px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media (max-width: 719px) {
    .container #contents #contents_wrap #news tbody tr th a {
      font-size: 4.4vw;
      width: 80.2vw;
      padding-top: 4.1vw;
    }
  }
  .container #contents #contents_wrap #news tbody tr td a {
    font-size: 1.625rem;
    color: #999999;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3;
    letter-spacing: -1px;
  }
  @media (max-width: 719px) {
    .container #contents #contents_wrap #news tbody tr td a {
      font-size: 3.3vw;
      width: 83.3vw;
      letter-spacing: -0.1px;
    }
  }
  .container #contents #contents_wrap #news_btn {
    padding: 60px 30px 140px;
    padding-bottom: 140px;
  }
  @media (max-width: 719px) {
    .container #contents #contents_wrap #news_btn {
      padding: 8.3vw 4.1vw 19.4vw;
    }
  }
  .container #contents #contents_wrap #news_btn ul {
    display: flex;
    align-items: center;
  }
  .container #contents #contents_wrap #news_btn ul li {
    width: 70px;
    height: 70px;
    border: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  @media (max-width: 719px) {
    .container #contents #contents_wrap #news_btn ul li {
      width: 9.7vw;
      height: 9.7vw;
    }
  }
  .container #contents #contents_wrap #news_btn ul .bd_r0 {
    border-right: 0;
  }
  .container .footer {
    border-top: 1px solid #d5d5d5;
  }/*# sourceMappingURL=sub4_2.css.map */