*{
    margin: 0;
    padding: 0;}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.textBold{
    font-weight: 600;
}
.textCenter{
    text-align: center;
}
.down{
    background-color: black;
}


