.container{
    #contents{
        padding: 0 30px;
        opacity: 0;
        animation-duration: 1s;
        animation-delay: 0.5s;
        @media(max-width: 719px){
            padding: 0 4.1vw;
        }
        #contents_wrap{
            h2{
                padding-top: 140px;
                padding-bottom: 80px;
                text-align: center;
                @media(max-width: 719px){
                    padding-top: 19.4vw;
                    padding-bottom: 11.1vw;
                }
                img{
                    @media(max-width: 719px){
                        width: 28.8vw;
                    }
                }
            }
            #news{
                border-top: 1px solid #6e7d8f;
                tbody{
                    tr{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 180px;
                        padding: 50px 30px;
                        border-bottom: 1px solid #d5d5d5;
                        @media(max-width: 719px){
                            height: 25vw;
                            padding: 6.9vw 4.1vw;
                        }
                        th{
                            text-align: left;
                            p{
                                font-size: 1.75rem;
                                color: #b59a80;
                                @media(max-width: 719px){
                                    font-size: 3.8vw;
                                }
                            }   
                            a{
                                padding-top: 30px;
                                display: block;
                                font-size: 2rem;
                                width: 578px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                @media(max-width: 719px){
                                    font-size: 4.4vw;
                                    width: 80.2vw;
                                    padding-top: 4.1vw;
                                }
                            }
                        }
                        td{
                            a{
                                font-size: 1.625rem;
                                color: #999999;
                                width: 600px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                line-height: 1.3;
                                letter-spacing: -1px;
                                @media(max-width: 719px){
                                    font-size:3.3vw;
                                    width: 83.3vw;
                                    letter-spacing: -0.1px;
                                }
                            }
                        }
                    }
                }
            }
            #news_btn{
                padding: 60px 30px 140px;
                padding-bottom: 140px;
                @media(max-width: 719px){
                    padding: 8.3vw 4.1vw 19.4vw;
                }
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        width: 70px;
                        height: 70px;
                        border: 1px solid #d5d5d5;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        @media(max-width: 719px){
                            width: 9.7vw;
                            height: 9.7vw;
                        }
                    }
                    .bd_r0{
                      border-right: 0;  
                    }
                }
            }
        }
    }
    .footer{
        border-top: 1px solid #d5d5d5;
    }
}

