.container {
  max-width: 720px;
  margin: 0 auto;
}
.container .quick {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  background-color: #d9ac72;
  border-radius: 50%;
  box-shadow: 7px 4px 15px;
  z-index: 10;
  margin: 40px;
  margin-left: 580px;
  cursor: pointer;
}
@media (max-width: 719px) {
  .container .quick {
    width: 14vw;
    height: 14vw;
    margin: 5.5vw;
    margin-left: 77.5vw;
  }
}
.container .quick .line_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.container .quick .line_wrap span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 1px;
  background-color: #16120f;
  transform: translateX(-50%);
}
@media (max-width: 719px) {
  .container .quick .line_wrap span {
    width: 5.5vw;
  }
}
.container .quick .line_wrap .line_ro {
  transform: translateX(-50%) rotate(90deg);
}
.container .quick .ro {
  transform: rotate(45deg);
}
.container .quick .quick_menu {
  position: relative;
}
.container .quick .quick_menu ul {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-118px);
  transition: 0.5s;
}
@media (max-width: 719px) {
  .container .quick .quick_menu ul {
    transform: translateY(-16vw);
  }
}
.container .quick .quick_menu ul li {
  width: 300px;
  height: 80px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
}
@media (max-width: 719px) {
  .container .quick .quick_menu ul li {
    width: 42vw;
    height: 11vw;
    border-radius: 5.5vw;
  }
}
.container .quick .quick_menu ul li a {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (max-width: 719px) {
  .container .quick .quick_menu ul li a {
    font-size: 3.3vw;
  }
}
.container .quick .quick_menu ul li img {
  padding: 0 20px;
}
@media (max-width: 719px) {
  .container .quick .quick_menu ul li img {
    padding: 0 3vw;
    width: 5.5vw;
  }
}
.container .quick .quick_menu .menu_on {
  height: 380px;
}
@media (max-width: 719px) {
  .container .quick .quick_menu .menu_on {
    height: 53vw;
  }
}
.container .sec1 {
  position: relative;
}
.container .sec1 .header {
  position: fixed;
  max-width: 720px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 15;
}
.container .sec1 .header .header_in {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .sec1 .header .header_in .logo_wrap {
  max-width: 203px;
  padding: 33px 40px;
}
@media (max-width: 719px) {
  .container .sec1 .header .header_in .logo_wrap {
    width: 28vw;
    padding: 4.5vw 5.5vw;
  }
}
.container .sec1 .header .header_in nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 33px 40px;
  display: flex;
  justify-content: end;
  z-index: 11;
}
@media (max-width: 719px) {
  .container .sec1 .header .header_in nav {
    padding: 4.5vw 5.5vw;
  }
}
.container .sec1 .header .header_in nav .nav_btn {
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  z-index: 12;
  cursor: pointer;
  position: relative;
}
@media (max-width: 719px) {
  .container .sec1 .header .header_in nav .nav_btn {
    width: 7vw;
    height: 5.5vw;
  }
}
.container .sec1 .header .header_in nav .nav_btn span {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: 0.3s;
}
@media (max-width: 719px) {
  .container .sec1 .header .header_in nav .nav_btn span {
    height: 2px;
  }
}
.container .sec1 .header .header_in nav .nav_btn .close {
  position: absolute;
  top: 50%;
  left: 0;
}
.container .sec1 .header .header_in nav .nav_btn .close_ro {
  transform: rotate(45deg);
}
.container .sec1 .header .header_in nav .nav_btn .close_ro2 {
  transform: rotate(-45deg);
}
.container .sec1 .header .header_in nav .nav_btn .lastLine {
  width: 30px;
}
@media (max-width: 719px) {
  .container .sec1 .header .header_in nav .nav_btn .lastLine {
    width: 4vw;
  }
}
.container .sec1 .header .header_in nav .nav_btn .dnone {
  display: none;
}
.container .sec1 .header .header_in nav .nav_menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: auto;
  scrollbar-width: none;
  background-color: #151a20;
  background-image: url(/gwang/img/bg/menu_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: 10;
  display: none;
  transition: 0.5s;
  -ms-overflow-style: none;
}
.container .sec1 .header .header_in nav .nav_menu::-webkit-scrollbar {
  display: none;
}
.container .sec1 .header .header_in nav .nav_menu .d1ul {
  padding: 56px 60px;
}
@media (max-width: 719px) {
  .container .sec1 .header .header_in nav .nav_menu .d1ul {
    padding: 8vw 8vw;
  }
}
.container .sec1 .header .header_in nav .nav_menu .d1ul .d1li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.0588235294);
}
.container .sec1 .header .header_in nav .nav_menu .d1ul .d1li a p {
  color: #bf9354;
  font-family: "Noto Serif KR", serif;
  font-size: 2.5rem;
  padding: 30px 0;
  font-weight: 600;
}
@media (max-width: 719px) {
  .container .sec1 .header .header_in nav .nav_menu .d1ul .d1li a p {
    font-size: 5.5vw;
    padding: 4vw 0;
  }
}
.container .sec1 .header .header_in nav .nav_menu .d1ul .d1li .d2ul li {
  padding-bottom: 30px;
}
@media (max-width: 719px) {
  .container .sec1 .header .header_in nav .nav_menu .d1ul .d1li .d2ul li {
    padding-bottom: 4vw;
  }
}
.container .sec1 .header .header_in nav .nav_menu .d1ul .d1li .d2ul li a {
  color: white;
  font-family: "Noto Serif KR", serif;
  font-size: 1.875rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
}
@media (max-width: 719px) {
  .container .sec1 .header .header_in nav .nav_menu .d1ul .d1li .d2ul li a {
    font-size: 4vw;
  }
}
.container .sec1 .header .header_in nav .menu_open {
  display: block;
}
.container .sec1 .mainBg {
  background-image: url(/gwang/img/bg/main_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  height: 1280px;
}
@media (max-width: 719px) {
  .container .sec1 .mainBg {
    height: 171vw;
  }
}
.container .sec1 .mainBg .bg {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .sec1 .mainBg .bg .main_txt_top {
  padding-top: 230px;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 719px) {
  .container .sec1 .mainBg .bg .main_txt_top {
    padding-top: 32vw;
  }
}
@media (max-width: 719px) {
  .container .sec1 .mainBg .bg .main_txt_top p {
    width: 22vw;
    margin: 0 auto;
  }
}
.container .sec1 .mainBg .bg .main_txt_top_line {
  width: 1px;
  height: 60px;
  background-color: white;
  margin-top: 45px;
  opacity: 0;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}
@media (max-width: 719px) {
  .container .sec1 .mainBg .bg .main_txt_top_line {
    margin-top: 6vw;
  }
}
.container .sec1 .mainBg .bg .lineFade {
  opacity: 0.6;
}
.container .sec1 .mainBg .bg .main_txt_big {
  padding-top: 45px;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec1 .mainBg .bg .main_txt_big {
    padding-top: 6vw;
  }
}
.container .sec1 .mainBg .bg .main_txt_big p {
  color: white;
  font-size: 6.875rem;
  font-weight: 500;
  line-height: 6.875rem;
  transform: translateY(100%);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 719px) {
  .container .sec1 .mainBg .bg .main_txt_big p {
    font-size: 15vw;
    line-height: 15.5vw;
  }
}
.container .sec1 .mainBg .bg .main_txt_sm {
  padding-top: 40px;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec1 .mainBg .bg .main_txt_sm {
    padding-top: 5.5vw;
  }
}
.container .sec1 .mainBg .bg .main_txt_sm p {
  color: #afbdd2;
  font-size: 1.875rem;
  font-family: "Noto Serif KR", serif;
  transform: translateY(100%);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@media (max-width: 719px) {
  .container .sec1 .mainBg .bg .main_txt_sm p {
    font-size: 4vw;
  }
}
.container .sec2 {
  background-image: url(/gwang/img/bg/promo_vd_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 1300px;
}
@media (max-width: 719px) {
  .container .sec2 {
    height: 180vw;
  }
}
.container .sec2 .pro_vd .wrap {
  padding-right: 0;
}
.container .sec2 .pro_vd .wrap .pro_txt_top {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.container .sec2 .pro_vd .wrap .pro_txt_top .enSub {
  margin-right: 30px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (max-width: 719px) {
  .container .sec2 .pro_vd .wrap .pro_txt_top .enSub {
    margin-right: 4vw;
  }
}
.container .sec2 .pro_vd .wrap .pro_txt_md {
  overflow: hidden;
}
.container .sec2 .pro_vd .wrap .pro_txt_md p {
  font-size: 2rem;
  color: white;
  font-weight: 300;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@media (max-width: 719px) {
  .container .sec2 .pro_vd .wrap .pro_txt_md p {
    font-size: 4vw;
  }
}
.container .sec2 .pro_vd .wrap .pro_txt_bt {
  margin-top: 28px;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec2 .pro_vd .wrap .pro_txt_bt {
    margin-top: 4vw;
    width: 35vw;
  }
}
.container .sec2 .pro_vd .wrap .pro_txt_bt img {
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.container #video1 .vd_wrap,
.container #video2 .vd_wrap,
.container #video3 .vd_wrap {
  position: relative;
}
.container #video1 .vd_wrap iframe,
.container #video2 .vd_wrap iframe,
.container #video3 .vd_wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.container #video1 .vd_wrap .mask_img,
.container #video2 .vd_wrap .mask_img,
.container #video3 .vd_wrap .mask_img {
  background-color: #333333;
  width: 100%;
  height: 720px;
  position: relative;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 719px) {
  .container #video1 .vd_wrap .mask_img,
.container #video2 .vd_wrap .mask_img,
.container #video3 .vd_wrap .mask_img {
    height: 100vw;
  }
}
.container #video1 .vd_wrap .mask_img .maskBtn,
.container #video2 .vd_wrap .mask_img .maskBtn,
.container #video3 .vd_wrap .mask_img .maskBtn {
  background-image: url(/gwang/img/icon/play_btn2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  content: "";
  position: absolute;
}
@media (max-width: 719px) {
  .container #video1 .vd_wrap .mask_img .maskBtn,
.container #video2 .vd_wrap .mask_img .maskBtn,
.container #video3 .vd_wrap .mask_img .maskBtn {
    width: 11vw;
    height: 11vw;
    margin-top: -5vw;
    margin-left: -5vw;
  }
}
.container #video1 .vd_wrap .mask_img {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.container #video2 .vd_wrap .mask_img {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  height: 1275px;
}
@media (max-width: 719px) {
  .container #video2 .vd_wrap .mask_img {
    height: 172vw;
  }
}
.container .sec3 {
  background-image: url(/gwang/img/bg/gmxi_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container .sec3 .gmxi {
  text-align: right;
  padding-left: 0;
}
.container .sec3 .gmxi .gmxi_txt {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.container .sec3 .gmxi .gmxi_txt .gmxi_txt_top {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.container .sec3 .gmxi .gmxi_txt .gmxi_txt_top .enSub {
  color: #a98157;
  margin-left: 30px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt .gmxi_txt_top .enSub {
    margin-left: 4vw;
  }
}
.container .sec3 .gmxi .gmxi_txt .gmxi_txt_md {
  padding-left: 40px;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt .gmxi_txt_md {
    width: 27vw;
    padding-left: 5.5vw;
  }
}
.container .sec3 .gmxi .gmxi_txt .gmxi_txt_md img {
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  transition-delay: 1s;
}
.container .sec3 .gmxi .gmxi_img {
  margin-top: 150px;
  margin-left: 40px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_img {
    margin-top: 21vw;
    margin-left: 5.5vw;
  }
}
.container .sec3 .gmxi .gmxi_img .mask {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.container .sec3 .gmxi .gmxi_img img {
  height: 540px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  transform: translateY(-100%);
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_img img {
    height: 75vw;
  }
}
.container .sec3 .gmxi .gmxi_txt2 {
  text-align: left;
  margin-top: 100px;
  margin-left: 40px;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt2 {
    margin-top: 14vw;
    margin-left: 5.5vw;
  }
}
.container .sec3 .gmxi .gmxi_txt2 .gm_traffic,
.container .sec3 .gmxi .gmxi_txt2 .gm_school,
.container .sec3 .gmxi .gmxi_txt2 .gm_park,
.container .sec3 .gmxi .gmxi_txt2 .gm_life {
  padding-left: 23px;
  border-left: 1px solid #bf9354;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt2 .gm_traffic,
.container .sec3 .gmxi .gmxi_txt2 .gm_school,
.container .sec3 .gmxi .gmxi_txt2 .gm_park,
.container .sec3 .gmxi .gmxi_txt2 .gm_life {
    padding-left: 3vw;
  }
}
.container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmSub,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmSub,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmSub,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmSub {
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmSub,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmSub,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmSub,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmSub {
    width: 9vw;
  }
}
.container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmSub img,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmSub img,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmSub img,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmSub img {
  transform: translateY(100%);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}
.container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon {
  margin-top: 30px;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon {
    margin-top: 4vw;
  }
}
.container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon .gmCon1,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon .gmCon1,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon .gmCon1,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon .gmCon1 {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon .gmCon1 span, .container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon .gmCon1 p,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon .gmCon1 p,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon .gmCon1 p,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon .gmCon1 p {
  color: #bf9354;
  font-size: 1.75rem;
  font-weight: 300;
  transform: translateY(100%);
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  letter-spacing: -2px;
  line-height: 1.2;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon .gmCon1 span, .container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon .gmCon1 p,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon .gmCon1 p,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon .gmCon1 p,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon .gmCon1 p {
    font-size: 4vw;
    letter-spacing: -0.3vw;
  }
}
.container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon .gmCon1 span {
  margin-right: 12px;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon .gmCon1 span,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon .gmCon1 span {
    margin-right: 1.5vw;
  }
}
.container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon .gmCon1 .gmCon_last_sp,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon .gmCon1 .gmCon_last_sp,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon .gmCon1 .gmCon_last_sp,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon .gmCon1 .gmCon_last_sp {
  opacity: 0;
}
.container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon .mb17,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon .mb17,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon .mb17,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon .mb17 {
  margin-bottom: 17px;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt2 .gm_traffic .gmCon .mb17,
.container .sec3 .gmxi .gmxi_txt2 .gm_school .gmCon .mb17,
.container .sec3 .gmxi .gmxi_txt2 .gm_park .gmCon .mb17,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmCon .mb17 {
    margin-bottom: 2vw;
  }
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt2 .gm_park .gmSub,
.container .sec3 .gmxi .gmxi_txt2 .gm_life .gmSub {
    width: 16.5vw;
  }
}
.container .sec3 .gmxi .gmxi_txt2 .gm_school,
.container .sec3 .gmxi .gmxi_txt2 .gm_park,
.container .sec3 .gmxi .gmxi_txt2 .gm_life {
  margin-top: 80px;
}
@media (max-width: 719px) {
  .container .sec3 .gmxi .gmxi_txt2 .gm_school,
.container .sec3 .gmxi .gmxi_txt2 .gm_park,
.container .sec3 .gmxi .gmxi_txt2 .gm_life {
    margin-top: 11vw;
  }
}
.container .sec4 {
  background-image: url(/gwang/img/bg/gmxi_table_bg3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.container .sec4 .gmxi2 {
  padding-right: 0;
}
.container .sec4 .gmxi2 .gmxi_txt2 .gmxi2_txt_top {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.container .sec4 .gmxi2 .gmxi_txt2 .gmxi2_txt_top .enLine {
  background-color: #151a20;
}
.container .sec4 .gmxi2 .gmxi_txt2 .gmxi2_txt_top .enSub {
  color: #151a20;
  margin-right: 30px;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (max-width: 719px) {
  .container .sec4 .gmxi2 .gmxi_txt2 .gmxi2_txt_top .enSub {
    margin-right: 4vw;
  }
}
.container .sec4 .gmxi2 .gmxi_txt2 .gmxi2_txt_md {
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec4 .gmxi2 .gmxi_txt2 .gmxi2_txt_md {
    width: 28vw;
  }
}
.container .sec4 .gmxi2 .gmxi_txt2 .gmxi2_txt_md img {
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.container .sec4 .gmxi2 .gmxi_img2 {
  margin-right: 40px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec4 .gmxi2 .gmxi_img2 {
    margin-right: 5.5vw;
  }
}
.container .sec4 .gmxi2 .gmxi_img2 .mask {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.container .sec4 .gmxi2 .gmxi_img2 img {
  transform: translateY(-101%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.container .sec4 .gmxi2 .table_wrap {
  padding-right: 40px;
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media (max-width: 719px) {
  .container .sec4 .gmxi2 .table_wrap {
    padding-right: 5.5vw;
  }
}
.container .sec4 .gmxi2 .table_wrap table {
  margin-top: 32px;
}
@media (max-width: 719px) {
  .container .sec4 .gmxi2 .table_wrap table {
    margin-top: 4vw;
  }
}
.container .sec4 .gmxi2 .table_wrap table tr {
  border-bottom: 1px solid;
  border-color: rgba(51, 51, 51, 0.21);
}
.container .sec4 .gmxi2 .table_wrap table tr th {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.498rem;
  font-weight: 400;
  padding: 22px 30px;
  margin-right: 30px;
  position: relative;
}
@media (max-width: 719px) {
  .container .sec4 .gmxi2 .table_wrap table tr th {
    font-size: 3.3vw;
    padding: 3vw 4vw;
    margin-right: 4vw;
  }
}
.container .sec4 .gmxi2 .table_wrap table tr th:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 50%;
  background-color: #a07c4a;
  transform: translateY(50%);
}
.container .sec4 .gmxi2 .table_wrap table tr td {
  font-size: 1.498rem;
  padding: 22px 0;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.4;
}
@media (max-width: 719px) {
  .container .sec4 .gmxi2 .table_wrap table tr td {
    font-size: 3.3vw;
    padding: 3vw 0;
    letter-spacing: -0.1vw;
  }
}
.container .sec5 .magazine .maginner {
  display: flex;
}
.container .sec5 .magazine .maginner .swiper-slide .magazine {
  transform: scale(0.8);
  transition: 0.8s;
  transition-delay: 0.3s;
}
.container .sec5 .magazine .maginner .swiper-slide-active .magazine {
  transform: scale(1);
}
.container .sec7 {
  background-image: url(/gwang/img/bg/club_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container .sec7 .wrap {
  padding-left: 0;
  padding-right: 0;
}
.container .sec7 .wrap .club_txt {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 40px;
}
@media (max-width: 719px) {
  .container .sec7 .wrap .club_txt {
    padding-right: 5.5vw;
  }
}
.container .sec7 .wrap .club_txt .club_txt_top {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.container .sec7 .wrap .club_txt .club_txt_top .enSub {
  margin-left: 30px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (max-width: 719px) {
  .container .sec7 .wrap .club_txt .club_txt_top .enSub {
    margin-left: 4vw;
  }
}
.container .sec7 .wrap .club_txt .club_txt_md {
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec7 .wrap .club_txt .club_txt_md {
    width: 57.5vw;
  }
}
.container .sec7 .wrap .club_txt .club_txt_md img {
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.container .sec7 .wrap .club_txt .club_txt_bt {
  text-align: right;
}
.container .sec7 .wrap .club_txt .club_txt_bt .club_intxt {
  overflow: hidden;
}
.container .sec7 .wrap .club_txt .club_txt_bt .club_intxt p {
  font-size: 2rem;
  color: white;
  font-weight: 300;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@media (max-width: 719px) {
  .container .sec7 .wrap .club_txt .club_txt_bt .club_intxt p {
    font-size: 4vw;
  }
}
.container .sec7 .wrap .club_slide {
  padding-left: 40px;
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 719px) {
  .container .sec7 .wrap .club_slide {
    padding-left: 5.5vw;
  }
}
.container .sec7 .wrap .club_slide #clubXian .swiper-wrapper .swiper-slide {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-right: 60px;
}
@media (max-width: 719px) {
  .container .sec7 .wrap .club_slide #clubXian .swiper-wrapper .swiper-slide {
    margin-right: 8vw;
  }
}
@media (max-width: 719px) {
  .container .sec7 .wrap .club_slide #clubXian .swiper-wrapper .swiper-slide img {
    width: 51vw;
  }
}
.container .sec7 .wrap .club_slide #clubXian .swiper-button-next,
.container .sec7 .wrap .club_slide #clubXian .swiper-button-prev {
  color: #bf9354;
}
.container .sec7 .wrap .club_slide #clubXian .swiper-pagination {
  position: relative;
  margin-top: 50px;
  width: 440px;
  height: 8px;
  background-color: #3c4147;
}
@media (max-width: 719px) {
  .container .sec7 .wrap .club_slide #clubXian .swiper-pagination {
    margin-top: 7vw;
    width: 51vw;
    height: 1vw;
  }
}
.container .sec7 .wrap .club_slide #clubXian .swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: #bf9354;
}
.container .sec8 {
  background-image: url(/gwang/img/bg/unit_bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container .sec8 .wrap {
  padding-right: 0;
}
.container .sec8 .wrap .unit_txt .unit_txt_top {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.container .sec8 .wrap .unit_txt .unit_txt_top .enSub {
  color: #151a20;
  margin-right: 30px;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (max-width: 719px) {
  .container .sec8 .wrap .unit_txt .unit_txt_top .enSub {
    margin-right: 4vw;
  }
}
.container .sec8 .wrap .unit_txt .unit_txt_top .enLine {
  background-color: #151a20;
}
.container .sec8 .wrap .unit_txt .unit_txt_md {
  padding-right: 40px;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec8 .wrap .unit_txt .unit_txt_md {
    padding-right: 5.5vw;
  }
}
.container .sec8 .wrap .unit_txt .unit_txt_md p {
  font-size: 2rem;
  color: #151a20;
  font-weight: 300;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@media (max-width: 719px) {
  .container .sec8 .wrap .unit_txt .unit_txt_md p {
    font-size: 4.5vw;
  }
}
.container .sec8 .wrap .unit_txt .unit_txt_bt {
  margin-top: 30px;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec8 .wrap .unit_txt .unit_txt_bt {
    margin-top: 4vw;
    width: 50vw;
  }
}
.container .sec8 .wrap .unit_txt .unit_txt_bt img {
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.container .sec8 .wrap .unit_tab {
  padding-right: 40px;
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 719px) {
  .container .sec8 .wrap .unit_tab {
    padding-right: 5.5vw;
  }
}
.container .sec8 .wrap .unit_tab .tap_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.container .sec8 .wrap .unit_tab .tap_wrap .tabSub {
  width: calc(33% - 8px);
}
.container .sec8 .wrap .unit_tab .tap_wrap .tabSub .tab_btn {
  border: 1px solid #151a20;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 719px) {
  .container .sec8 .wrap .unit_tab .tap_wrap .tabSub .tab_btn {
    height: 11vw;
  }
}
.container .sec8 .wrap .unit_tab .tap_wrap .tabSub .tab_btn p {
  font-size: 1.5rem;
  color: #151a20;
}
@media (max-width: 719px) {
  .container .sec8 .wrap .unit_tab .tap_wrap .tabSub .tab_btn p {
    font-size: 3vw;
  }
}
.container .sec8 .wrap .unit_tab .tap_wrap .tabSub .tab_img {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 50px;
  display: none;
}
@media (max-width: 719px) {
  .container .sec8 .wrap .unit_tab .tap_wrap .tabSub .tab_img {
    margin-top: 7vw;
  }
}
.container .sec8 .wrap .unit_tab .tap_wrap .on .tab_btn {
  background-color: #151a20;
}
.container .sec8 .wrap .unit_tab .tap_wrap .on .tab_btn p {
  color: white;
}
.container .sec8 .wrap .unit_tab .tap_wrap .on .tab_img {
  display: block;
}
.container .sec8 .wrap .unit_tab .tab_more {
  margin-top: 780px;
  width: 100%;
  height: 100px;
  background-color: #151a20;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 719px) {
  .container .sec8 .wrap .unit_tab .tab_more {
    margin-top: 108vw;
    height: 14vw;
  }
}
.container .sec8 .wrap .unit_tab .tab_more p {
  font-size: 1.625rem;
  color: white;
}
@media (max-width: 719px) {
  .container .sec8 .wrap .unit_tab .tab_more p {
    font-size: 3.5vw;
  }
}
.container .sec9 {
  background-image: url(/gwang/img/bg/schedule_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.container .sec9 .wrap {
  padding-left: 0;
}
.container .sec9 .wrap .sche_txt {
  text-align: right;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.container .sec9 .wrap .sche_txt .enSub {
  margin-left: 30px;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (max-width: 719px) {
  .container .sec9 .wrap .sche_txt .enSub {
    margin-left: 4vw;
  }
}
.container .sec9 .wrap .sche {
  margin-top: 130px;
  text-align: center;
  margin-left: 40px;
  opacity: 0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 719px) {
  .container .sec9 .wrap .sche {
    margin-top: 18vw;
    margin-left: 5.5vw;
  }
}
.container .sec10 {
  background-image: url(/gwang/img/bg/brand_bg3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.container .sec10 .wrap {
  padding-right: 0;
}
.container .sec10 .wrap .brand_txt .brand_txt_top {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.container .sec10 .wrap .brand_txt .brand_txt_top .enSub {
  color: #151a20;
  margin-right: 30px;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (max-width: 719px) {
  .container .sec10 .wrap .brand_txt .brand_txt_top .enSub {
    margin-right: 4vw;
  }
}
.container .sec10 .wrap .brand_txt .brand_txt_top .enLine {
  background-color: #151a20;
}
.container .sec10 .wrap .brand_txt .brand_txt_wrap {
  padding-right: 40px;
}
@media (max-width: 719px) {
  .container .sec10 .wrap .brand_txt .brand_txt_wrap {
    padding-right: 5.5vw;
  }
}
.container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_md,
.container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_bt,
.container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_bt2 {
  text-align: center;
}
.container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_md {
  margin: 112px auto;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_md {
    margin: 15.5vw auto;
    width: 58vw;
  }
}
.container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_md img {
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_bt .b_txt_in {
  overflow: hidden;
}
.container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_bt .b_txt_in p {
  font-size: 1.75rem;
  color: #757575;
  font-weight: 300;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@media (max-width: 719px) {
  .container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_bt .b_txt_in p {
    font-size: 4vw;
  }
}
.container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_bt2 p {
  font-size: 2.75rem;
  font-weight: 600;
  position: relative;
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 719px) {
  .container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_bt2 p {
    font-size: 6vw;
  }
}
.container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_bt2 p:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 1px;
  width: 45px;
  background-color: #151a20;
  transform: translate(-50%, -60px);
}
@media (max-width: 719px) {
  .container .sec10 .wrap .brand_txt .brand_txt_wrap .brand_txt_bt2 p:after {
    width: 6vw;
    transform: translate(-50%, -8vw);
  }
}
.container .sec10 .wrap .brand_img {
  margin-top: 100px;
  margin-right: 40px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec10 .wrap .brand_img {
    margin-top: 14vw;
    margin-right: 5.5vw;
  }
}
.container .sec10 .wrap .brand_img .mask {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.container .sec10 .wrap .brand_img img {
  transform: translateY(-100%);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.container .sec11 {
  background-image: url(/gwang/img/bg/brand2_bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container .sec11 .wrap {
  padding-left: 0;
}
.container .sec11 .wrap .brand2_txt {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.container .sec11 .wrap .brand2_txt .brand2_txt_top {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.container .sec11 .wrap .brand2_txt .brand2_txt_top .enLine {
  background-color: #151a20;
}
.container .sec11 .wrap .brand2_txt .brand2_txt_top .enSub {
  color: #151a20;
  margin-left: 30px;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (max-width: 719px) {
  .container .sec11 .wrap .brand2_txt .brand2_txt_top .enSub {
    margin-left: 4vw;
  }
}
.container .sec11 .wrap .brand2_txt .brand2_txt_md {
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec11 .wrap .brand2_txt .brand2_txt_md {
    width: 58vw;
  }
}
.container .sec11 .wrap .brand2_txt .brand2_txt_md img {
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.container .sec11 .wrap #video3 {
  margin-left: 40px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 719px) {
  .container .sec11 .wrap #video3 {
    margin-left: 5.5vw;
  }
}
.container .sec11 .wrap #video3 .mask {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.container .sec11 .wrap #video3 .vd3_wrap {
  transform: translateY(-100%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.container .sec11 .wrap #video3 .vd3_wrap .mask_img {
  background-image: url(/gwang/img/icon/brand2_vd.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 375px;
  transition: 0.5s;
}
@media (max-width: 719px) {
  .container .sec11 .wrap #video3 .vd3_wrap .mask_img {
    height: 52vw;
  }
}
.container .sec11 .wrap #video3 .vd3_wrap .mask_img .vd3_bnt {
  cursor: pointer;
}
.container .sec11 .wrap #video3 .vd3_wrap .transy {
  transform: translateY(100%);
}
.container .sec12 {
  background-image: url(/gwang/img/bg/loca_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container .sec12 .wrap {
  padding-right: 0;
}
.container .sec12 .wrap .loca_txt .loca_txt_top {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.container .sec12 .wrap .loca_txt .loca_txt_top .enSub {
  margin-right: 30px;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_txt .loca_txt_top .enSub {
    margin-right: 4vw;
  }
}
.container .sec12 .wrap .loca_txt .loca_txt_md {
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_txt .loca_txt_md {
    width: 29vw;
  }
}
.container .sec12 .wrap .loca_txt .loca_txt_md img {
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.container .sec12 .wrap .loca_map {
  margin-right: 40px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_map {
    margin-right: 5.5vw;
  }
}
.container .sec12 .wrap .loca_map .mask {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.container .sec12 .wrap .loca_map img {
  transform: translateY(-100%);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.container .sec12 .wrap .loca_btn {
  padding-right: 40px;
  opacity: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn {
    padding-right: 5.5vw;
  }
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn table colgroup .left_col {
    width: 14.5vw;
  }
}
.container .sec12 .wrap .loca_btn table tr th {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.container .sec12 .wrap .loca_btn table tr th:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bf9354;
  height: 100%;
  width: 1px;
  transform: translateX(1.75rem);
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn table tr th:after {
    transform: translateX(4vw);
  }
}
.container .sec12 .wrap .loca_btn table tr th em {
  color: #bf9354;
  font-size: 1.75rem;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn table tr th em {
    font-size: 4vw;
  }
}
.container .sec12 .wrap .loca_btn table tr td {
  color: #bf9354;
  font-size: 1.75rem;
  padding-left: 3.5rem;
  font-weight: 300;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn table tr td {
    font-size: 4vw;
    padding-left: 8vw;
  }
}
.container .sec12 .wrap .loca_btn table .house th {
  margin-bottom: 36px;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn table .house th {
    margin-bottom: 5vw;
  }
}
.container .sec12 .wrap .loca_btn table .house td {
  margin-bottom: 36px;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn table .house td {
    margin-bottom: 5vw;
  }
}
.container .sec12 .wrap .loca_btn .call_btn p,
.container .sec12 .wrap .loca_btn .map_btn p {
  color: #bf9354;
}
.container .sec12 .wrap .loca_btn .call_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bf9354;
  margin-top: 57px;
  height: 100px;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn .call_btn {
    margin-top: 8vw;
    height: 14vw;
  }
}
.container .sec12 .wrap .loca_btn .call_btn .call {
  background-image: url(/gwang/img/icon/call.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn .call_btn .call {
    padding-left: 7vw;
    margin-right: 2vw;
    font-size: 4.5vw;
  }
}
.container .sec12 .wrap .loca_btn .call_btn .call_number {
  font-size: 3.625rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn .call_btn .call_number {
    font-size: 8vw;
  }
}
.container .sec12 .wrap .loca_btn .map_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .sec12 .wrap .loca_btn .map_btn .naver,
.container .sec12 .wrap .loca_btn .map_btn .kakao {
  width: calc(50% - 15px);
  height: 100px;
  background-color: #bf9354;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn .map_btn .naver,
.container .sec12 .wrap .loca_btn .map_btn .kakao {
    height: 14vw;
    width: calc(50% - 2vw);
  }
}
.container .sec12 .wrap .loca_btn .map_btn .naver p,
.container .sec12 .wrap .loca_btn .map_btn .kakao p {
  color: white;
  font-size: 1.625rem;
  font-weight: 400;
}
@media (max-width: 719px) {
  .container .sec12 .wrap .loca_btn .map_btn .naver p,
.container .sec12 .wrap .loca_btn .map_btn .kakao p {
    font-size: 3.5vw;
  }
}
.container .sec13 {
  background-image: url(/gwang/img/bg/form_bg3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.container .sec13 .wrap .sign_txt {
  text-align: center;
}
.container .sec13 .wrap .sign_txt .sign_txt_top {
  overflow: hidden;
}
@media (max-width: 719px) {
  .container .sec13 .wrap .sign_txt .sign_txt_top {
    width: 42vw;
    margin: 0 auto;
  }
}
.container .sec13 .wrap .sign_txt .sign_txt_top img {
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.container .sec13 .wrap .sign_txt .sign_txt_md {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container .sec13 .wrap .sign_txt .sign_txt_md p {
  background-color: #151a20;
  border-radius: 23px;
  color: white;
  padding: 12px 22px;
  margin: 0 4px;
  font-size: 1.5rem;
  font-weight: 100;
  transform: translateY(100%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@media (max-width: 719px) {
  .container .sec13 .wrap .sign_txt .sign_txt_md p {
    border-radius: 3vw;
    padding: 1.5vw 3vw;
    margin: 0 0.5vw;
    font-size: 3vw;
  }
}
.container .sec13 .wrap form {
  text-align: center;
  margin-top: 50px;
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 719px) {
  .container .sec13 .wrap form {
    margin-top: 7vw;
  }
}
.container .sec13 .wrap form input {
  display: block;
  text-align: center;
}
.container .sec13 .wrap form .textBox {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  font-size: 1.75rem;
  letter-spacing: -2px;
}
@media (max-width: 719px) {
  .container .sec13 .wrap form .textBox {
    height: 14vw;
    margin-bottom: 3vw;
    font-size: 4vw;
    letter-spacing: -0.3vw;
  }
}
.container .sec13 .wrap form .put {
  padding: 0;
  border-width: 0;
  border: 1px solid;
  background-color: unset;
}
.container .sec13 .wrap form .reservation {
  font-size: 1.5rem;
  color: #222222;
  opacity: 80%;
  margin-bottom: 2.5rem;
}
@media (max-width: 719px) {
  .container .sec13 .wrap form .reservation {
    font-size: 3vw;
    margin-bottom: 5.5vw;
  }
}
.container .sec13 .wrap form .agreeCheck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  border-top: 1px solid;
  border-color: #222222;
}
@media (max-width: 719px) {
  .container .sec13 .wrap form .agreeCheck {
    padding-top: 5.5vw;
  }
}
.container .sec13 .wrap form .agreeCheck label {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}
@media (max-width: 719px) {
  .container .sec13 .wrap form .agreeCheck label {
    font-size: 4vw;
  }
}
.container .sec13 .wrap form .agreeCheck label input {
  width: 24px;
  height: 24px;
  margin-right: 22px;
}
@media (max-width: 719px) {
  .container .sec13 .wrap form .agreeCheck label input {
    width: 3.3vw;
    height: 3.3vw;
    margin-right: 3vw;
  }
}
.container .sec13 .wrap form .agreeCheck a {
  font-size: 1.5rem;
  padding-bottom: 6px;
  border-bottom: 1px solid;
}
@media (max-width: 719px) {
  .container .sec13 .wrap form .agreeCheck a {
    font-size: 3.3vw;
    padding-bottom: 0.8vw;
  }
}
.container .sec13 .wrap form .invitation {
  margin-top: 35px;
  background-color: #151a20;
  color: #bf9354;
  letter-spacing: 1rem;
  font-weight: 800;
  font-size: 2.25rem;
  font-family: "Roboto", sans-serif;
  box-shadow: 4px 4px 16px #151a20;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}
@media (max-width: 719px) {
  .container .sec13 .wrap form .invitation {
    margin-top: 5vw;
    letter-spacing: 2vw;
    font-size: 5vw;
  }
}
.container footer {
  padding: 57px 40px;
}
@media (max-width: 719px) {
  .container footer {
    padding: 8vw 5.5vw;
  }
}
.container footer .foot_txt .gs p,
.container footer .foot_txt .online p {
  font-size: 1.75rem;
  color: #666666;
  letter-spacing: -2px;
  white-space: nowrap;
}
@media (max-width: 719px) {
  .container footer .foot_txt .gs p,
.container footer .foot_txt .online p {
    font-size: 4vw;
  }
}
.container footer .foot_txt .gs .gsSub,
.container footer .foot_txt .gs .onSub,
.container footer .foot_txt .online .gsSub,
.container footer .foot_txt .online .onSub {
  font-weight: 600;
}
.container footer .foot_txt .online {
  margin-top: 33px;
}
@media (max-width: 719px) {
  .container footer .foot_txt .online {
    margin-top: 4.5vw;
  }
}
.container footer .copy {
  margin-top: 62px;
}
@media (max-width: 719px) {
  .container footer .copy {
    margin-top: 9vw;
  }
}
.container footer .copy p {
  font-size: 1.75rem;
  color: #666666;
  font-weight: 300;
}
@media (max-width: 719px) {
  .container footer .copy p {
    font-size: 4vw;
  }
}/*# sourceMappingURL=gwang.css.map */