.container{
    .sec2{
        .inner{
            .sec1_tab{
                .layer{
                    padding-bottom: 140px;
                    border-bottom: 1px solid #e5e5e5;
                    opacity: 0;
                    animation-duration: 1s;
                    animation-delay: 0.5s;
                    @media(max-width:719px){
                        padding-bottom: 19.4vw;
                    }
                    .sub_img{
                        padding-bottom: 0;
                        border-bottom: 0;
                    }

                }
            }
        }
    }
}