.container .sec2 .inner .sec1_tab .layer {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.container .sec2 .inner .sec1_tab .layer .layer_txt {
  text-align: center;
  padding-top: 140px;
}
@media (max-width: 719px) {
  .container .sec2 .inner .sec1_tab .layer .layer_txt {
    padding-top: 19.4;
  }
}
@media (max-width: 719px) {
  .container .sec2 .inner .sec1_tab .layer .layer_txt img {
    width: 28.4vw;
  }
}
.container .sec2 .inner .sec1_tab .layer .type_tab {
  padding-top: 80px;
}
@media (max-width: 719px) {
  .container .sec2 .inner .sec1_tab .layer .type_tab {
    padding-top: 11.1vw;
  }
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul {
  display: flex;
  border: 1px solid #d5d5d5;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li {
  width: 330px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
@media (max-width: 719px) {
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li {
    width: 45.8vw;
    height: 11.1vw;
  }
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #b59a80;
  display: none;
}
@media (max-width: 719px) {
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li:after {
    height: 0.5vw;
  }
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li:hover:after {
  display: block;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li:hover p {
  color: #b59a80;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li p {
  font-size: 1.5rem;
  color: #666666;
}
@media (max-width: 719px) {
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .type_li p {
    font-size: 3.3vw;
  }
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .a_li,
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .c_li {
  position: relative;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .a_li:before,
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .c_li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #d5d5d5;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_ul .typeOn {
  display: inherit;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .a_ul {
  border-bottom: 0;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .e_ul {
  border: 0;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .e_ul .e_li {
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  position: relative;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .e_ul .e_li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #d5d5d5;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .e_ul .e_li2 {
  visibility: hidden;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_imgWrap {
  padding-top: 80px;
  padding-bottom: 120px;
}
@media (max-width: 719px) {
  .container .sec2 .inner .sec1_tab .layer .type_tab .type_imgWrap {
    padding-top: 11.1vw;
    padding-bottom: 16.6vw;
  }
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_imgWrap .type_img {
  display: none;
}
.container .sec2 .inner .sec1_tab .layer .type_tab .type_imgWrap .typeOn {
  display: inherit;
}/*# sourceMappingURL=sub3.css.map */