.container{
    .sec2{
        .inner{
            .sec1_tab{
                .layer{
                    opacity: 0;
                    animation-duration: 1s;
                    animation-delay: 0.5s;
                    .layer_txt{
                        text-align: center;
                        padding-top: 140px ;
                        @media(max-width: 719px){
                            padding-top: 19.4 ;
                        }
                        img{
                            @media(max-width: 719px){
                                width: 28.4vw;
                            }
                        }
                    }
                    .type_tab{
                        padding-top: 80px;
                        @media(max-width: 719px){
                            padding-top: 11.1vw;
                        }
                        .type_ul{
                            display: flex;
                            border: 1px solid #d5d5d5;
                            .type_li{
                                width: 330px;
                                height: 80px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                position: relative;
                                @media(max-width: 719px){
                                    width: 45.8vw;
                                    height: 11.1vw;
                                }
                                &:after{
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 4px;
                                    background-color: #b59a80;
                                    display: none;
                                    @media(max-width: 719px){
                                        height: 0.5vw;
                                    }
                                }
                                &:hover{
                                    &:after{
                                        display: block;
                                    }
                                    p{
                                        color: #b59a80;
                                    }
                                }
                                p{
                                    font-size: 1.5rem;
                                    color: #666666;
                                    @media(max-width: 719px){
                                        font-size: 3.3vw;
                                    }
                                }
                            }
                            .a_li,
                            .c_li{
                                position: relative;
                                &:before{
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 1px;
                                    height: 100%;
                                    background-color: #d5d5d5;
                                }
                            }
                            .typeOn{
                                display: inherit;
                            }
                            // .bdright{
                            //     border-right: 1px solid #d5d5d5;
                            // }
                        }
                        .a_ul{
                            border-bottom: 0;
                        }
                        .e_ul{
                            border: 0;
                            .e_li{
                                border-left: 1px solid #d5d5d5;
                                border-bottom: 1px solid #d5d5d5;
                                position: relative;
                                &:before{
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 1px;
                                    height: 100%;
                                    background-color: #d5d5d5;
                                }
                            }
                            .e_li2{
                                visibility: hidden;
                            }
                        }
                        .type_imgWrap{
                            padding-top: 80px;
                            padding-bottom: 120px;
                            @media(max-width: 719px){
                                padding-top: 11.1vw;
                                padding-bottom: 16.6vw;
                            }
                            .type_img{
                                display: none;
                            }
                            .typeOn{
                                display: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}